---
layout: default
---
{% assign tag_posts = site.tags[page.tag] | sort: "date" | reverse %}
<div class="tag-results">
	<div class="tag-results-address">
		<span class="tag-results-address-label">Address</span>
		<span class="tag-results-address-field"><img src="{{ site.baseurl }}/assets/img/folder.ico" alt="" /> C:\{{ page.tag }}</span>
	</div>
	<div class="tag-results-cols"><span>Name</span><span>Modified</span></div>
	<ul class="tag-results-list">
		{% for post in tag_posts %}
		<li><a href="{{ site.baseurl }}{{ post.url }}"><span class="tag-results-name"><img src="{{ site.baseurl }}/assets/img/file.ico" alt="" /><span class="tag-results-title">{{ post.title }}</span></span><span class="tag-results-date">{{ post.date | date: "%Y-%m-%d" }}</span></a></li>
		{% endfor %}
	</ul>
	<div class="tag-results-status"><span>{{ tag_posts | size }} object(s)</span></div>
</div>
